/* CSS resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "DM Sans", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

label {
  display: flex;
  align-items: center;
}

.page-heading {
  font-size: 3rem;
  font-weight: 700;
  width: fit-content;
  padding: 16px;
  margin: 0 auto;
}

.root-container {
  display: grid;
  justify-content: space-evenly;
  padding: 2rem;
  padding-top: 1rem;
  gap: 48px;
  grid-template-columns: 1.5fr 3fr;
  grid-auto-rows: 1fr;
  grid-template-areas: "controls chart";
}

.controls {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  grid-area: controls;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 2px 4px 8px hsla(0deg 0% 0% / 0.3);
  transition: box-shadow 500ms;
}

.controls:hover {
  box-shadow: 4px 8px 16px hsla(0deg 0% 0% / 0.15);
  transition: box-shadow 250ms;
}

.controls-wrapper {
  display: grid;
  grid-template-areas: "variables secondary";
  grid-template-columns: 1fr 1fr;
}

.secondary-controls {
  grid-area: secondary;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.axis-wrapper {
  display: flex;
  gap: 1rem;
}

.direction-heading,
.scatter-plot-heading,
.axis-text {
  color: #9ca3af;
}

.variable-list {
  list-style-type: none;
  padding: 0;
}

.controls .variable-heading {
  margin-bottom: 0px;
}

.chart-heading {
  margin-bottom: 32px;
}

.controls .click-to-plot {
  margin-bottom: 8px;
  color: #9ca3af;
  font-weight: bold;
}

.variable-list li:not(:last-of-type) {
  margin-bottom: 8px;
}

.chart {
  grid-area: chart;
  border-radius: 16px;
  align-self: flex-start;
  padding: 16px;
  box-shadow: 2px 4px 8px hsla(0deg 0% 0% / 0.3);
  transition: box-shadow 500ms;
  min-height: 600px;
}

.chart:hover {
  box-shadow: 4px 8px 16px hsla(0deg 0% 0% / 0.15);
  transition: box-shadow 250ms;
}

.scatter-plot-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.scatter-x,
.scatter-y {
  background-color: #f3f4f6;
  padding: 1rem;
  border-radius: 16px;
}

.variable-directory {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: hsla(0 0% 15% / 0.2);
}

.dialog {
  background-color: white;
  padding: 2rem;
  position: relative;
  border-radius: 16px;
}

.dialog-close {
  position: absolute;
  top: 0;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 8px;
  border: 0;
  font-weight: 700;
  background: transparent;
  right: 0;
  font-size: 18px;
  background-color: black;
  color: white;
}

.dialog-close:hover {
  background-color: hsla(0deg 0% 0% / 0.7);
}

.dialog-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.dialog-content div {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #f3f4f6;
  margin-bottom: 2px;
}

.dialog-content div:nth-last-of-type(-n + 4) {
  border: none;
}

.dialog-heading {
  margin-bottom: 16px;
}

.dialog-content div:nth-of-type(-n + 4) {
  font-weight: bold;
}

.variable-heading-pane {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.directory-button {
  background: transparent;
  padding: 8px 16px;
  border: 0;
  border-radius: 8px;
  font-weight: bold;
  color: #6b7280;
}

.directory-button:hover {
  background: #f3f4f6;
}

.hide-overflow {
  overflow: hidden;
}
